.small-img {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.smaller-icon {
    width: 100px;
    height: auto;
}

img {
    background-color: none;
}

img:hover {
    background-color: orange;
}

.img-margin-top {
    margin-top: 100px;
}

.text-margin-top {
    margin-top: 150px;
}

.text-margin-left {
    margin-left: 50px;
}